// Media Queries
$screen-xs-min: 320px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

$media-xs: 'only screen and (min-width: #{$screen-xs-min})';
$media-sm: 'only screen and (min-width: #{$screen-sm-min})';
$media-md: 'only screen and (min-width: #{$screen-md-min})';
$media-lg: 'only screen and (min-width: #{$screen-lg-min})';
