<div class="container demo-wrapper" style="padding: 50px 0;">

	<main class="demo-main">

		<h1>{{ wc.pages.home.title }}</h1>
	
		<p class="demo-main__paragraph">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
		</p>

		<div class="demo-main__form" style="margin-top: 100px;">
			<h4 class="demo-main__title" style="margin-bottom: 25px;">This form is just for demo purpose: use gulp e2e</h4>
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">@</span>
					  <input type="text" style="height: 50px;" class="form-control input-username" placeholder="Username" aria-describedby="basic-addon1" ng-model="username"/>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<button style="height: 50px;" class="button button--primary" ng-click="demoPrintUsername()">Print username</button>
				</div>
			</div>
			<div class="row demo-print">
				<div class="col-xs-2">Result: </div>
				<div class="col-xs-10 demo-print-result"> {{ result }} </div>
			</div>
		</div>
	</main>
</div>
