<div class="demo container">

	<header class="demo-header">
		<h1 class="demo-header__title">Hello world!</h1>
	</header>

	<main class="demo-main">
	
		<p class="demo-main__paragraph">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 
			<br/><a href="#!/demo" class="link">Go to demo route</a>
		</p>

		<div class="demo-main__form">
			<h2 class="demo-main__title">This form is just for test demos purpose.</h2>
			<div class="row">
				<div class="col-xs-12 col-sm-3">
					<div class="input-group">
					  <span class="input-group-addon" id="basic-addon1">@</span>
					  <input type="text" class="form-control input-username" placeholder="Username" aria-describedby="basic-addon1" ng-model="username"/>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3">
					<button class="button button--primary" ng-click="demoPrintUsername()">Print username</button>
				</div>
			</div>
			<div class="row demo-print">
				<div class="col-xs-2">Result: </div>
				<div class="col-xs-10 demo-print-result"> {{ result }} </div>
			</div>
		</div>
	</main>
</div>
